<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href="http://fonts.cdnfonts.com/css/proxima-nova-2?styles=44819,44817,44821,44813,44815", rel="stylesheet")
        link(rel="stylesheet", href="../css/auth.css")
        title Regístro
    body 
        header 
            nav 
                a(href="#")
                    img(src="../img/logo__small.png", alt="logo-mercado libre")
        main
            div(class="box-color")
            div(class="box-form")
                form(class="form" method="POST" action="http://localhost:8000/auth/sign-in-create")
                    legend(class="form__title") Hola! Complete los datos para registrarse
                    div(class="form__campo")
                        label(for="username") Nombre de usuario
                        input(type="text" name="username")   
                    div(class="form__campo")
                        label(for="email") email
                        input(type="text" name="email")   
                    div(class="form__campo")
                        label(for="password") Contraseña
                        input(type="password" name="password")   
                    div(class="form__campo")
                        label(for="password-repeat") Repetir contraseña
                        input(type="password" name="password-repeat")  
                    input(type="submit", value="Continuar" class="btn--auth") 
                hr(class="line")
                div(class="form-help")
                    p Necesito ayuda para ingresar
        footer 
            p Entrega del curso de desarrollo Backend - Guanuco, Leonardo
            
    