MONGO_URL_DATABASE=#variable para conectar a la base de Mongo
CLOUDINARY_URL=#URl para la conexión de Cloudinary
PASSWORD_NODEMAILER_GMAIL=#Contrasaeña del gmail que se configura con el Nodemailer
EMAIL_NODEMAILER_GMAIL=#Correo del administrador para Nodemailer