doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src="https://kit.fontawesome.com/fe5071cad1.js", crossorigin="anonymous")
        link(rel="stylesheet", href="../css/home.css")
        title Document
    body 
    include components/nav.pug
    form(action="http://localhost:8000/api/category", method="POST", enctype="multipart/form-data")
        input(type="file" name="myFile" id="myFile")
        input(type="text" name="type" id="type")
        input(type="submit")