-var enlace = "http://localhost:8000"
include components/nav.pug
include components/item-card.pug
include components/card-subCategory
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src="https://kit.fontawesome.com/fe5071cad1.js", crossorigin="anonymous")
        link(href="http://fonts.cdnfonts.com/css/proxima-nova-2?styles=44819,44817,44821,44813,44815", rel="stylesheet")
        link(rel="stylesheet", href="../css/home.css")
        title Mercado Libre | Home
    body 
    +nav(user)
    main
        a.chat(href="/chat")
            i(class="fa-solid fa-comment")
        div(id="carouselExampleIndicators" class="carousel slide carousel--personality" data-bs-ride="true")
            div(class="carousel-indicators")
                button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1")
                button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2")
                button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3")
            div(class="carousel-inner")
                div(class="carousel-item active")
                    img(src="/img/portada/portada-1.webp" class="d-block w-100" alt="...")
                div(class="carousel-item")
                    img(src="/img/portada/portada-2.webp" class="d-block w-100" alt="...")
                div(class="carousel-item")
                    img(src="/img/portada/portada-3.webp" class="d-block w-100" alt="...")
            button(class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev")
                span(class="carousel-control-prev-icon" aria-hidden="true")
                span(class="visually-hidden")
            button(class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next")
                span(class="carousel-control-next-icon" aria-hidden="true")
                span(class="visually-hidden")
        div.contenedor
            section(class="products")
                h2(class="section-title") Lo más seleccionado
                div.products__item
                    div.flex-item
                        for product in productsAll.products 
                            +item-card(product, favorites)
            section(class='subscripcion')
                div(class='subscripcion__costo')
                    p(class='costo-nivel') Subscribite al nivel 2
                    div(class='costo-info')
                        p Desde
                        span(class='info-precio') $ 599 /mes
                        p Según tu nivel
                p(class='subscripcion__sub') Conseguí los mejores beneficios en Mercado Libre y Mercado Pago
                div(class='costo-beneficios')
                    div(class='beneficios-info')
                        img(src="/img/subscripcion/d+.svg" alt="beneficio-1 disney")
                        p Disney+ sin cargo
                    div(class='beneficios-info')
                        img(src="/img/subscripcion/star+.svg" alt="beneficio-2 star")
                        p Star+ sin cargo
                    div(class='beneficios-info')
                        img(src="/img/subscripcion/sub-3.png" alt="beneficio-3 envios")
                        p Envíos gratis y rápidos desde $ 4.000 y 45% OFF en envíos de menos de $ 4.000
                div(class='subscripcion__btn')
                    div(class='subscripcion-esp')
                        a(href="/") Subscribete
            section(class="descubrir")
                h2(class="section-title") Descubrí
                div(class="flex-container")
                    for subCategory in subCategories 
                        +card-subCategory(subCategory)
            section(class="categories" id="categorias")
                h2(class="section-title") Categorías populares
                div(class="grid-container")
                    a(class="category" href="/herramientas/subcategories")
                        i(class="fa-solid fa-wrench icon--category")
                        p(class="category__title") Herramientas
                    a(class="category" href="/construccion/subcategories")
                        i(class="fa-solid fa-building icon--category")
                        p(class="category__title") Construcción 
                        
    script(src="js/home.js")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js") 
    