@import "../base/variables";
@import "../base/base";
@import "../components/nav";
@import "../components/cardSubCategory";

//Bootstrap
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";

@import "../../../node_modules/bootstrap/scss/maps";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/root";


@import "../../../node_modules/bootstrap/scss/carousel";


.chat{
    position: relative;
    position: fixed;
    bottom: 5rem;
    right: 5rem;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: $col-yellow-prim;
    cursor: pointer;
    z-index: 999999;
    i{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2rem;
        color: #000;
    }
}

.section-title{
    font-family: $fue-1;
    font-size: 2.6rem;
    font-weight: 300;
    color: #666;
    margin: 2rem 0;
    span{
        margin-left: 2rem;
        font-size: 1.6rem;
        color: $col-blue;
        font-weight: 300;
    }
}

.carousel--personality{
    img{
        width: 100%;
        height: 34rem;
        object-fit: cover;
    }
}

.products{
    margin: 8rem 0;
    .products__item{
        position: relative;
        height: 35rem;
    }
}

.flex-item{
    display: flex;
    column-gap: 1.5rem;
    position: absolute;
}

.item{
    position: relative;
    height: 34rem;
    background-color: #fff;
    line-height: 1.4;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%);
    transition: .1s all ease-out;
    border-radius: 4px;
    flex: 1;
    img{
        height: 22rem;
        object-fit: contain;
        width: 100%;
        height: auto;
    }
    .img-item{
        height: 22.4rem;
    }
    .item__info{
        padding: 2rem 2rem;
        border-top: 1px solid rgba(51,51,51,.1);
        position: relative;
    }
    .info-numero{
        display: flex;
        align-items: center;
        column-gap: 1rem;
    }
    .info-precio{
        color: #333;
        font-size: 2.4rem;
    }
    .info-descuento{
        color: #00a650;
        font-size: 1.4rem;
    }
    .item-cuotas{
        color: $col-green;
        font-size: 1.4rem;
        padding-top: 0.5rem;
    }
    .item-envio{
        display: flex;
        align-items: center;
        p{
            color: #00a650;
            font-weight: 600;
        }
        .envio-full{
            font-style: italic;
            font-size: 1rem;
            font-weight: 600;
            margin-left: 0.3rem;

        }
        .icon-full{
            font-size: 1.2rem;
            margin-left: 0.5rem;
            color: #00a650;
        }
    }
    &:hover{
        -webkit-box-shadow: 0px 3px 13px 2px rgba(0,0,0,0.1); 
        box-shadow: 0px 3px 13px 2px rgba(0,0,0,0.1);   
        transition: .1s all ease-out;
        height: 39.2rem;
    }
    .titulo-hover{
        opacity: 0;
        visibility: hidden;
        margin-top: 1rem;
        color: #666;
        max-height: 4rem;
        overflow: hidden;
    }
    &:hover .icon-fav, &:hover .titulo-hover{
        opacity: 1;
        visibility: visible;
    }
}

.icon-fav{
    position: absolute;
    top: 5%;
    right: 5%;
    background-color: hsla(0,0%,100%,.7);
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.1s;
    opacity: 0;
    font-size: 1.5rem;
    cursor: pointer;
    color: $col-blue;
    &:hover{
        transition: 0.2s;
    }
}

.icon--favOn{
    opacity: 1;
}

.subscripcion{
    background-color: #fff;
    margin: 4rem 0;
    border-radius: 6px;
    p{
        font-size: 1.4rem;
    }
    .subscripcion__costo{
        background: linear-gradient(90deg,#a90f90 55%,#0c1a51);
        display: flex;
        align-items: center;
        color: #fff;
        justify-content: space-between;
        padding: 1.6rem 2.4rem;
        border-radius: 6px 6px 0 0;
        .costo-nivel{
            font-size: 2.6rem;
            font-weight: 600;
        }
        .costo-info{
            font-weight: 600;
            .info-precio{
                font-size: 2.4rem;
            }
        }
    }
    .subscripcion__sub{
        padding: 2rem 2.4rem;
        font-size: 1.8rem;
    }
    .costo-beneficios{
        display: flex;
        justify-content: space-between;
        padding: 3rem 2.4rem;
        .beneficios-info{
            display: flex;
            align-items: center;
            column-gap: 2rem;
            flex: 1;
        }
        img{
            width: 7.2rem;
        }
    }
    .subscripcion__btn{
        padding: 1.5rem 2.4rem;
        border-top: 1px solid #ededed;
        .subscripcion-esp{
            padding: 1.8rem 0;
            text-align: right;
        }
        a{
            margin-top: 10rem;
            background-color: $col-blue;
            color: #fff;
            transition: background-color .2s ease-in;
            padding: 1.2rem 2.4rem;
            border-radius: 6px;
            &:hover{
                background-color:#2968c8;
            }
        }
    }
}

.descubrir{
    margin: 6rem 0;
}

.flex-container{
    display: flex;
    column-gap: 2.5rem;
}

//////GRID
.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax( 20rem, 1fr ));
}

.categories{
    margin: 5rem 0;
}

.category{
    background-color: #fff;
    text-align: center;
    padding: 3rem 1rem;
    border: 1px solid #eae6e6;
    cursor: pointer;
    .icon--category{
        font-size: 4.4rem;
        color: $col-blue;
    }
    .category__title{
        font-size: 1.4rem;
        margin-top: 1rem;
        font-weight: 300
    }
    &:hover .icon--category, &:hover .category__title{
        color: #fff;
    }
    &:hover{
        background-color: $col-blue;
    }
}